.suggestions-row {
    margin-top: 30px;
    padding-top: 20px;
    border-top: var(--main-border);

}

.suggestions-row__notification{
    background-color: tomato;
    width: 30px;
    height: 20px;
    border-radius: 10px;
    position: absolute;
    top:85px;
    left: 60px;
    font-size: 10px;

}

.suggestions-row__title {
    padding-bottom: 18px;

}

.suggestions-row__icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}

.suggestions-row__icons__icon {
    width: 109px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}
.suggestions-row__icons__icon:last-child{
    position: relative;
}

.suggestions-row__icons__icon__img {
    width: 60px;
    height: 60px;
    border-radius: 15px;
    border: 2px solid #DC9A24;
}

.suggestions-row__icons__icon__subtitle {
    padding-top: 15px;
    color: var(--color-gray);

}